<!DOCTYPE html>
<html lang="en">
<head>
    <title>Cervical Cancer Detection</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="static/css/bootstrap.min.css">

    <!-- FontAwesome CSS -->
    <link rel="stylesheet" href="static/css/font-awesome.min.css">

    <!-- ElegantFonts CSS -->
    <link rel="stylesheet" href="static/css/elegant-fonts.css">

    <!-- themify-icons CSS -->
    <link rel="stylesheet" href="static/css/themify-icons.css">

    <!-- Swiper CSS -->
    <link rel="stylesheet" href="static/css/swiper.min.css">

    <!-- Styles -->
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <header class="site-header">
                <div class="top-header-bar">
                    <div class="container">
                        <div class="row flex-wrap justify-content-center justify-content-lg-between align-items-lg-center">
                            <div class="col-12 col-lg-8 d-none d-md-flex flex-wrap justify-content-center justify-content-lg-start mb-3 mb-lg-0">
                                <div class="header-bar-email">
                                    EMAIL: <a href="#">cancerdetectionorg@gmail.com</a>
                                </div><!-- .header-bar-email -->
        
                                <!-- <div class="header-bar-text">
                                    <p>PHONE: <span>+24 3772 120 091 / +56452 4567</span></p>
                                </div>.header-bar-text -->
                            </div><!-- .col -->
        
                            <div class="col-12 col-lg-4 d-flex  justify-content-center  align-items-center">
                                <div class="donate-btn" style="margin-right:10 ">
                                    <a href="account">Account</a>
                                </div><!-- .donate-btn -->
        
                                <div class="donate-btn" style="margin:10">
                                    <a href="logout">Logout</a>
                                </div><!-- .donate-btn -->
                            </div><!-- .col -->
                            
                        </div><!-- .row -->
                    </div><!-- .container -->
                </div><!-- .top-header-bar -->
        
                <div class="nav-bar">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 d-flex flex-wrap align-items-center">
                                <div class="site-branding d-flex align-items-center" style="flex-grow: 1">
                                 <a class="d-block" href="index" rel="home"><img width="50" height="50" class="d-block" alt="logo" src="static/images/cervical-cancer.jpeg"></a>
                                </div><!-- .site-branding -->
                                <div style="flex-grow: 1">Cervical Cancer</div>
        
                                <nav class="site-navigation d-flex justify-content-end align-items-center" style="flex-grow:8 ">
                                    <ul class="d-flex flex-column flex-lg-row justify-content-lg-end align-content-center">
                                        <li class="current-menu-item"><a href="index">Home</a></li>
                                        <li><a href="detect">Detection of cervical cancer</a></li>
                                <li><a href="risk_prone">Risk Prone areas</a></li>
                                <li><a href="news">News</a></li>
                                        <!-- <li><a href="news.html">Risk Prone </a></li> -->
                                        <!-- <li><a href="contact.html">Contact</a></li> -->
                                    </ul>
                                </nav><!-- .site-navigation -->
        
                                <div class="hamburger-menu d-lg-none">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div><!-- .hamburger-menu -->
                            </div><!-- .col -->
                        </div><!-- .row -->
                    </div><!-- .container -->
                </div><!-- .nav-bar -->
            </header><!-- .site-header -->

    <div class="swiper-container hero-slider">
        <div class="swiper-wrapper">
            <div class="swiper-slide hero-content-wrap">
                <img src="static/images/images.jpg"  height=300 alt="">

                <div class="hero-content-overlay position-absolute w-100 h-100">
                    <div class="container h-100">
                        <div class="row h-100">
                            <div class="col-12 col-lg-8 d-flex flex-column justify-content-center align-items-start">
                                <header class="entry-header">
                                    <h1>Cervical Screening</h1>
                                    <h4>Saves Life</h4>
                                </header><!-- .entry-header -->

                                <div class="entry-content mt-4">
                                    <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tempus vestibulum mauris quis aliquam. Integer accumsan sodales odio, id tempus ullamcorper</p> -->
                                </div><!-- .entry-content -->

                                <!-- <footer class="entry-footer d-flex flex-wrap align-items-center mt-5">
                                    <a href="#" class="btn gradient-bg mr-2">Donate Now</a>
                                    <a href="#" class="btn orange-border">Read More</a>
                                </footer>.entry-footer -->
                            </div><!-- .col -->
                        </div><!-- .row -->
                    </div><!-- .container -->
                </div><!-- .hero-content-overlay -->
            </div><!-- .hero-content-wrap -->

            <div class="swiper-slide hero-content-wrap">
                <img src="static/images/cute.png" height=300 alt="">

                <div class="hero-content-overlay position-absolute w-100 h-100">
                    <div class="container h-100">
                        <div class="row h-100">
                            <div class="col-12 col-lg-8 d-flex flex-column justify-content-center align-items-start">
                                <header class="entry-header">
                                    <h1>Cervical Screening</h1>
                                    <h4>Saves Life</h4>
                                </header><!-- .entry-header -->

                                <!-- <div class="entry-content mt-4">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tempus vestibulum mauris quis aliquam. Integer accumsan sodales odio, id tempus ullamcorper</p>
                                </div>.entry-content -->

                                <!-- <footer class="entry-footer d-flex flex-wrap align-items-center mt-5">
                                    <a href="#" class="btn gradient-bg mr-2">Donate Now</a>
                                    <a href="#" class="btn orange-border">Read More</a>
                                </footer>.entry-footer -->
                            </div><!-- .col -->
                        </div><!-- .row -->
                    </div><!-- .container -->
                </div><!-- .hero-content-overlay -->
            </div><!-- .hero-content-wrap -->

            <div class="swiper-slide hero-content-wrap">
                <img src="static/images/image.png" height=300 alt="">

                <div class="hero-content-overlay position-absolute w-100 h-100">
                    <div class="container h-100">
                        <div class="row h-100">
                            <div class="col-12 col-lg-8 d-flex flex-column justify-content-center align-items-start">
                                <header class="entry-header">
                                    <h1>Cervical Screening</h1>
                                    <h4>Saves life</h4>
                                </header><!-- .entry-header -->

                                <!-- <div class="entry-content mt-4">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tempus vestibulum mauris quis aliquam. Integer accumsan sodales odio, id tempus ullamcorper</p>
                                </div>.entry-content -->

                                <!-- <footer class="entry-footer d-flex flex-wrap align-items-center mt-5">
                                    <a href="#" class="btn gradient-bg mr-2">Donate Now</a>
                                    <a href="#" class="btn orange-border">Read More</a>
                                </footer>.entry-footer -->
                            </div><!-- .col -->
                        </div><!-- .row -->
                    </div><!-- .container -->
                </div><!-- .hero-content-overlay -->
            </div><!-- .hero-content-wrap -->
        </div><!-- .swiper-wrapper -->

        <!-- <div class="pagination-wrap position-absolute w-100">
            <div class="container">
                <div class="swiper-pagination"></div>
            </div>.container -->
        <!-- </div>.pagination-wrap -->

        <!-- Add Arrows -->
        <div class="swiper-button-next flex justify-content-center align-items-center">
            <span><svg viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M1171 960q0 13-10 23l-466 466q-10 10-23 10t-23-10l-50-50q-10-10-10-23t10-23l393-393-393-393q-10-10-10-23t10-23l50-50q10-10 23-10t23 10l466 466q10 10 10 23z"/></svg></span>
        </div>

        <div class="swiper-button-prev flex justify-content-center align-items-center">
            <span><svg viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M1203 544q0 13-10 23l-393 393 393 393q10 10 10 23t-10 23l-50 50q-10 10-23 10t-23-10l-466-466q-10-10-10-23t10-23l466-466q10-10 23-10t23 10l50 50q10 10 10 23z"/></svg></span>
        </div>
    </div><!-- .hero-slider -->

    <div class="home-page-icon-boxes">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4 mt-4 mt-lg-0">
                    <div class="icon-box active">
                        <!-- <figure class="d-flex justify-content-center">
                            <img src="images/hands-gray.png" alt="">
                            <img src="images/hands-white.png" alt="">
                        </figure> -->

                        <header class="entry-header">
                            <h3 class="entry-title">Cervical Cancer Overview</h3>
                        </header>

                        <div class="entry-content">
                            <p>Cancer occurs when cells in an area of the body grow abnormally. Cervical cancer is a cancer that begins in the cervix, the part of the uterus or womb that opens into the vagina. It is the part of the uterus that dilates and opens fully to allow a baby to pass into the birth canal. The normal cervix has two main types of cells: squamous (or flat) cells, which protect the outside of the cervix, and glandular cells which are mostly inside the cervix, and produce the fluid and mucus commonly seen during ovulation. </p>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4 mt-4 mt-lg-0">
                    <div class="icon-box active">
                        <!-- <figure class="d-flex justify-content-center">
                            <img src="images/donation-gray.png" alt="">
                            <img src="images/donation-white.png" alt="">
                        </figure> -->

                        <header class="entry-header">
                            <h3 class="entry-title">Medical Evaluation and Diagonosis</h3>
                        </header>

                        <div class="entry-content">
                            <p>When a woman experiences concerning symptoms, a pelvic exam (including a rectovaginal exam) and a general physical should be performed. If the exam is abnormal, the woman might be advised to undergo an HPV test, a colposcopy (observing the cervix through a magnifying scope) and a biopsy, depending on the results of the colposcopy. </p>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4 mt-4 mt-lg-0">
                    <div class="icon-box active">
                        <!-- <figure class="d-flex justify-content-center">
                            <img src="images/charity-gray.png" alt="">
                            <img src="images/charity-white.png" alt="">
                        </figure> -->

                        <header class="entry-header">
                            <h3 class="entry-title">Surgical Staging</h3>
                        </header>

                        <div class="entry-content">
                            <p>When cervical cancer is diagnosed, it is vital to determine if the cancer has spread. Your treatment team may do more tests to determine this. Additionally, specific procedures during surgery may be performed to determine the extent of disease. This process is called staging. Staging helps to determine the exact extent of your cancer and what treatment plan is best for you. </p>
                        </div>
                    </div>
                </div>
            </div><!-- .row -->
        </div><!-- .container -->
    </div><!-- .home-page-icon-boxes -->

    <div class="home-page-welcome">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-6 order-2 order-lg-1">
                    <div class="welcome-content">
                        <header class="entry-header">
                            <h2 class="entry-title">Goals of Treatment</h2>
                        </header><!-- .entry-header -->

                        <div class="entry-content mt-5">
                            <p>Descriptions of the most common treatment options for cervical cancer are listed below. The treatment of cervical cancer depends on several factors, including the type and stage of cancer, possible side effects, and the woman’s preferences and overall health. Your care plan may also include treatment for symptoms and side effects, an important part of cancer care. Take time to learn about all of your treatment options and be sure to ask questions about things that are unclear. Talk with your doctor about the goals of each treatment and what you can expect while receiving the treatment.</p>
                        </div><!-- .entry-content -->

                        <div class="entry-footer mt-5">
                                <span id="dots">...</span><span id="more" class="entry-content mt-5">erisque enim ligula venenatis dolor. Maecenas nisl est, ultrices nec congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac. In at libero sed nunc venenatis imperdiet sed ornare turpis. Donec vitae dui eget tellus gravida venenatis. Integer fringilla congue eros non fermentum. Sed dapibus pulvinar nibh tempor porta.</span></p>
                                <button onclick="myFunction()" class="btn gradient-bg mr-2" id="myBtn">Read more</button>
                            <!-- <a href="#" class="btn gradient-bg mr-2">Read More</a> -->
                        </div><!-- .entry-footer -->
                    </div><!-- .welcome-content -->
                </div><!-- .col -->

                <div class="col-12 col-lg-6 mt-4 order-1 order-lg-2">
                    <img src="static/images/cute.png" alt="welcome">
                </div><!-- .col -->
            </div><!-- .row -->
        </div><!-- .container -->
    </div><!-- .home-page-icon-boxes -->


    <div class="our-causes">
        <div class="container">
            <div class="row">
                <div class="coL-12">
                    <div class="section-heading">
                        <h2 class="entry-title">Causes</h2>
                    </div><!-- .section-heading -->
                </div><!-- .col -->
            </div><!-- .row -->

            <div class="row">
                <div class="col-12">
                    <div class="swiper-container causes-slider">
                        <div class="swiper-wrapper">
                            

                            <div class="swiper-slide">
                                <div class="cause-wrap">
                                    <!-- <figure class="m-0">
                                        <img src="images/cause-2.jpg" alt="">

                                        <div class="figure-overlay d-flex justify-content-center align-items-center position-absolute w-100 h-100">
                                            <a href="#" class="btn gradient-bg mr-2">Donate Now</a>
                                        </div>
                                    </figure> -->

                                    <div class="cause-content-wrap">
                                        <header class="entry-header d-flex flex-wrap align-items-center">
                                            <h3 class="entry-title w-100 m-0"><a href="#">Infection with HPV</a></h3>
                                        </header><!-- .entry-header -->

                                        <div class="entry-content">
                                            <p class="m-0">Cervical cancer begins with abnormal changes in the cervical tissue. The risk of developing these abnormal changes is associated with infection with human papillomavirus (HPV). In addition, early sexual contact, multiple sexual partners, and taking oral contraceptives (birth control pills) increase the risk of cervical cancer because they lead to greater exposure to HPV.</p>
                                        </div><!-- .entry-content -->

                                        <div class="fund-raised w-100">
                                            <!-- <div class="fund-raised-bar-5 barfiller">
                                                <div class="tipWrap">
                                                    <span class="tip"></span>
                                                </div>

                                                <span class="fill" data-percentage="70"></span>
                                            </div>

                                            <div class="fund-raised-details d-flex flex-wrap justify-content-between align-items-center">
                                                <div class="fund-raised-total mt-4">
                                                    Raised: $56 880
                                                </div>

                                                <div class="fund-raised-goal mt-4">
                                                    Goal: $70 000
                                                </div>
                                            </div> -->
                                        </div><!-- .fund-raised -->
                                    </div><!-- .cause-content-wrap -->
                                </div><!-- .cause-wrap -->
                            </div><!-- .swiper-slide -->

                            <div class="swiper-slide">
                                <div class="cause-wrap">
                                    <!-- <figure class="m-0">
                                        <img src="images/cause-3.jpg" alt="">

                                        <div class="figure-overlay d-flex justify-content-center align-items-center position-absolute w-100 h-100">
                                            <a href="#" class="btn gradient-bg mr-2">Donate Now</a>
                                        </div>
                                    </figure> -->

                                    <div class="cause-content-wrap">
                                        <header class="entry-header d-flex flex-wrap align-items-center">
                                            <h3 class="entry-title w-100 m-0"><a href="#">Cigarette Smoking</a></h3>
                                        </header><!-- .entry-header -->

                                        <div class="entry-content">
                                            <p class="m-0">Cigarette smoking is another risk factor for the development of cervical cancer. The chemicals in cigarette smoke interact with the cells of the cervix, causing precancerous changes that may over time progress to cancer. The risk of cervical cancer in cigarette smokers is two to five times that of the general population.</p>
                                        </div><!-- .entry-content -->

                                        <!-- <div class="fund-raised w-100">
                                            <div class="fund-raised-bar-6 barfiller">
                                                <div class="tipWrap">
                                                    <span class="tip"></span>
                                                </div>

                                                <span class="fill" data-percentage="83"></span>
                                            </div>

                                            <div class="fund-raised-details d-flex flex-wrap justify-content-between align-items-center">
                                                <div class="fund-raised-total mt-4">
                                                    Raised: $56 880
                                                </div>

                                                <div class="fund-raised-goal mt-4">
                                                    Goal: $70 000
                                                </div>
                                            </div>
                                        </div> -->
                                    </div><!-- .cause-content-wrap -->
                                </div><!-- .cause-wrap -->
                            </div><!-- .swiper-slide -->
                        </div><!-- .swiper-wrapper -->

                    </div><!-- .swiper-container -->

                    <!-- Add Arrows -->
                    <div class="swiper-button-next flex justify-content-center align-items-center">
                        <span><svg viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M1171 960q0 13-10 23l-466 466q-10 10-23 10t-23-10l-50-50q-10-10-10-23t10-23l393-393-393-393q-10-10-10-23t10-23l50-50q10-10 23-10t23 10l466 466q10 10 10 23z"/></svg></span>
                    </div>

                    <div class="swiper-button-prev flex justify-content-center align-items-center">
                        <span><svg viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M1203 544q0 13-10 23l-393 393 393 393q10 10 10 23t-10 23l-50 50q-10 10-23 10t-23-10l-466-466q-10-10-10-23t10-23l466-466q10-10 23-10t23 10l50 50q10 10 10 23z"/></svg></span>
                    </div>
                </div><!-- .col -->
            </div><!-- .row -->
        </div><!-- .container -->
    </div><!-- .our-causes -->

    <!----><div class="home-page-limestone">
        <div class="container">
            <div class="row align-items-end">
                <div class="coL-12 col-lg-6">
                    <div class="section-heading">
                        <h2 class="entry-title">We love to help all the womens that have problems in the world.</h2>

                        <p class="mt-5">Dolor sit amet, consectetur adipiscing elit. Mauris tempus vestib ulum mauris quis aliquam. Lorem ipsum dolor sit amet.</p>
                    </div><!-- .section-heading -->
                </div><!-- .col -->

                <div class="col-12 col-lg-6">
                    <div style="grid-row: 2">
                            <h2 class="entry-title"><a href="https://www.nccc-online.org/images/pdfs/HPV_Fact_sheet_2018.pdf">Educational Material</a></h2>
                            <h3 class="entry-title"><a href="https://www.youtube.com/watch?list=PL84AE0530CD60D7B8&v=k7KdNtN4fCU">Videos</a></h3>
                            <h3 class="entry-title"><a href="https://clinicaltrials.gov/">Cancer Research</a></h3><!-- entry-title -->
                    </div>
                        
                        <div class="milestones d-flex flex-wrap justify-content-between">
                        <div class="col-12 col-sm-4 mt-5 mt-lg-0">
                            <div class="counter-box">
                                <!-- <div class="d-flex justify-content-center align-items-center">
                                    <img src="images/teamwork.png" alt="">
                                </div> -->

                                 <div class="d-flex justify-content-center align-items-baseline">
                                    <!-- <div class="start-counter" data-to="120" data-speed="2000"></div>
                                    <div class="counter-k">K</div> -->
                                    
                                </div>

                                <!-- entry-title -->
                            </div><!-- counter-box -->
                        </div><!-- .col -->

                        <div class="col-12 col-sm-4 mt-5 mt-lg-0">
                            <div class="counter-box">
                                <!-- <div class="d-flex justify-content-center align-items-center">
                                    <img src="images/donation.png" alt="">
                                </div> -->

                                <!-- <div class="d-flex justify-content-center align-items-baseline">
                                    <div class="start-counter" data-to="79" data-speed="2000"></div>
                                </div> -->

                                <!-- entry-title -->
                            </div><!-- counter-box -->
                        </div><!-- .col -->

                        <div class="col-12 col-sm-4 mt-5 mt-lg-0">
                            <div class="counter-box">
                                <!-- <div class="d-flex justify-content-center align-items-center">
                                    <img src="images/dove.png" alt="">
                                </div> -->

                                <!-- <div class="d-flex justify-content-center align-items-baseline">
                                    <div class="start-counter" data-to="253" data-speed="2000"></div>
                                </div> -->

                                
                            </div><!-- counter-box -->
                        </div><!-- .col -->
                    </div><!-- .milestones -->
                </div><!-- .col -->
            </div><!-- .row -->
        </div><!-- .container -->
    </div><!-- .our-causes -->

    <footer class="site-footer">
        <div class="footer-widgets">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="foot-about">
                            <h2><a class="foot-logo" href="#"><img src="static/images/cervical-cancer.jpeg" width=50 height=50 alt=""></a><div style="padding: 10">Cervical Cancer</div> </h2>
                            <p>Lorem ipsum dolor sit amet, con sectetur adipiscing elit. Mauris temp us vestib ulum mauris.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tempus vestib ulum mauris.Lorem ipsum dolo.</p>

                            <ul class="d-flex flex-wrap align-items-center">
                                <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                <li><a href="#"><i class="fa fa-behance"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div><!-- .foot-about -->
                    </div><!-- .col -->



                    <div class="col-12 col-md-6 col-lg-3 mt-5 mt-md-0">
                        <div class="foot-contact">
                            <h2>Contact</h2>

                            <ul>
                                <li><i class="fa fa-phone"></i><span>+45 677 8993000 223</span></li>
                                <li><i class="fa fa-envelope"></i><span>office@template.com</span></li>
                                <li><i class="fa fa-map-marker"></i><span>Main Str. no 45-46, b3, 56832, Los Angeles, CA</span></li>
                            </ul>
                        </div><!-- .foot-contact -->

                        <div class="subscribe-form">
                            <!-- <form class="d-flex flex-wrap align-items-center">
                                <input type="email" placeholder="Your email">
                                <input type="submit" value="send">
                            </form>.flex -->
                        </div><!-- .search-widget -->
                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .container -->
        </div><!-- .footer-widgets -->

        <div class="footer-bar">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <p class="m-0"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                    </div><!-- .col-12 -->
                </div><!-- .row -->
            </div><!-- .container -->
        </div><!-- .footer-bar -->
    </footer><!-- .site-footer -->

    <script>
        function myFunction() {
        var dots = document.getElementById("dots");
        var moreText = document.getElementById("more");
        var btnText = document.getElementById("myBtn");

        if (dots.style.display === "none") {
            dots.style.display = "inline";
            btnText.innerHTML = "Read more"; 
            moreText.style.display = "none";
        } else {
            dots.style.display = "none";
            btnText.innerHTML = "Read less"; 
            moreText.style.display = "inline";
        }
        }
    </script>
    <script type='text/javascript' src='static/js/jquery.js'></script>
    <script type='text/javascript' src='static/js/jquery.collapsible.min.js'></script>
    <script type='text/javascript' src='static/js/swiper.min.js'></script>
    <script type='text/javascript' src='static/js/jquery.countdown.min.js'></script>
    <script type='text/javascript' src='static/js/circle-progress.min.js'></script>
    <script type='text/javascript' src='static/js/jquery.countTo.min.js'></script>
    <script type='text/javascript' src='static/js/jquery.barfiller.js'></script>
    <script type='text/javascript' src='static/js/custom.js'></script>

</body>
</html>