<html lang="en"><head>
    <title>Cervical Cancer Detection</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">

    <!-- FontAwesome CSS -->
    <link href="static/css/font-awesome.min.css" rel="stylesheet">

    <!-- ElegantFonts CSS -->
    <link href="static/css/elegant-fonts.css" rel="stylesheet">

    <!-- themify-icons CSS -->
    <link href="static/css/themify-icons.css" rel="stylesheet">

    <!-- Swiper CSS -->
    <link href="static/css/swiper.min.css" rel="stylesheet">

    <!-- Styles -->
    <link href="static/style.css" rel="stylesheet">
</head>
<body class="single-page causes-page">
        <header class="site-header">
                <div class="top-header-bar">
                    <div class="container">
                        <div class="row flex-wrap justify-content-center justify-content-lg-between align-items-lg-center">
                            <div class="col-12 col-lg-8 d-none d-md-flex flex-wrap justify-content-center justify-content-lg-start mb-3 mb-lg-0">
                                <div class="header-bar-email">
                                    EMAIL: <a href="#">cancerdetectionorg@gmail.com</a>
                                </div><!-- .header-bar-email -->
        
                                <!-- <div class="header-bar-text">
                                    <p>PHONE: <span>+24 3772 120 091 / +56452 4567</span></p>
                                </div>.header-bar-text -->
                            </div><!-- .col -->
        
                            <div class="col-12 col-lg-4 d-flex  justify-content-center  align-items-center">
{#                                <div class="donate-btn" style="margin-right:10 ">#}
{#                                    <a href="account">Account</a>#}
{#                                </div><!-- .donate-btn -->#}
        
                                <div class="donate-btn" style="margin:10">
                                    <a href="logout">Logout</a>
                                </div><!-- .donate-btn -->
                            </div><!-- .col -->
                            
                        </div><!-- .row -->
                    </div><!-- .container -->
                </div><!-- .top-header-bar -->
        
                <div class="nav-bar">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 d-flex flex-wrap align-items-center">
                                <div class="site-branding d-flex align-items-center" style="flex-grow: 1">
                                 <a class="d-block" href="index" rel="home"><img width="50" height="50" class="d-block" alt="logo" src="static/images/cervical-cancer.jpeg"></a>
                                </div><!-- .site-branding -->
                                <div style="flex-grow: 1">Cervical Cancer</div>
        
                                <nav class="site-navigation d-flex justify-content-end align-items-center" style="flex-grow:8 ">
                                    <ul class="d-flex flex-column flex-lg-row justify-content-lg-end align-content-center">
                                        <li class="current-menu-item"><a href="index">Home</a></li>
                                        <li><a href="detect">Detection of cervical cancer</a></li>
                                <li><a href="risk_prone">Risk Prone areas</a></li>
                                <li><a href="news">News</a></li>
                                        <!-- <li><a href="news.html">Risk Prone </a></li> -->
                                        <!-- <li><a href="contact.html">Contact</a></li> -->
                                    </ul>
                                </nav><!-- .site-navigation -->
        
                                <div class="hamburger-menu d-lg-none">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div><!-- .hamburger-menu -->
                            </div><!-- .col -->
                        </div><!-- .row -->
                    </div><!-- .container -->
                </div><!-- .nav-bar -->
            </header><!-- .site-header -->
        

    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1>News</h1>
                </div><!-- .col -->
            </div><!-- .row -->
        </div><!-- .container -->
    </div><!-- .page-header -->

    

    <div class="our-causes pt-0">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="cause-wrap">
                       

                        <div class="cause-content-wrap">
                            <header class="entry-header d-flex flex-wrap align-items-center">
                                <h3 class="entry-title w-100 m-0"><a href="#">Cervical microbiome may promote high-grade precancerous lesions</a></h3>
                            </header><!-- .entry-header -->

                            <div class="entry-content">
                                <p class="m-0">Infections with a Human Papillomavirus (HPV) cause 99 percent of cervical cancer cases, and the disease's first sign is often the appearance of precancerous lesions on a woman's cervix. But bacteria may play an important role, too. New research suggests that the cervical microbiome may influence HPV infection more than researchers previously thought.</p>
                            </div><!-- .entry-content -->

                            
                        </div><!-- .cause-content-wrap -->
                    </div><!-- .cause-wrap -->
                </div><!-- .col -->

                <div class="col-12 col-md-6 col-lg-4">
                    <div class="cause-wrap">
                       

                        <div class="cause-content-wrap">
                            <header class="entry-header d-flex flex-wrap align-items-center">
                                <h3 class="entry-title w-100 m-0"><a href="#">Screening for cervical abnormalities in women offered HPV vaccination</a></h3>
                            </header><!-- .entry-header -->

                            <div class="entry-content">
                                <p class="m-0">Human papillomavirus (HPV) testing detects a higher number of precancerous cervical lesions than cytology-based Pap smears in a female population including a proportion offered HPV vaccination, according to a new study published in PLOS Medicine by Karen Canfell of Cancer Council New South Wales, Australia, researchers at the Victorian Cytology Service, Melbourne, Australia, and colleagues.</p>
                            </div><!-- .entry-content -->

                            
                        </div><!-- .cause-content-wrap -->
                    </div><!-- .cause-wrap -->
                </div><!-- .col -->

                <div class="col-12 col-md-6 col-lg-4">
                    <div class="cause-wrap">
                       
                        <div class="cause-content-wrap">
                            <header class="entry-header d-flex flex-wrap align-items-center">
                                <h3 class="entry-title w-100 m-0"><a href="#">Bleeding after intercourse, douching, or a pelvic examination</a></h3>
                            </header><!-- .entry-header -->

                            <div class="entry-content">
                                <p class="m-0">Many countries are currently considering switching from classic Pap tests to primary HPV tests for cervical cancer screening, based on the strong evidence linking cervical abnormalities and infection with certain HPV types, and data suggesting that HPV tests detect more high-grade precancerous lesions. However, no study has yet compared the different methods in a population in which younger women had been offered prior HPV vaccination..</p>
                            </div><!-- .entry-content -->

                            
                        </div><!-- .cause-content-wrap -->
                    </div><!-- .cause-wrap -->
                </div><!-- .col -->
            </div><!-- .row -->
        </div><!-- .container -->
    </div><!-- .our-causes -->

    <div class="highlighted-cause">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-7 order-2 order-lg-1">
                    <div class="section-heading">
                        <h2 class="entry-title">We love to help all the womens that have problems in the world. </h2>
                    </div><!-- .section-heading -->

                    <div class="entry-content">
                        <p>Dolor sit amet, consectetur adipiscing elit. Mauris tempus vestib ulum mauris quis aliquam. Lorem ipsum dolor sit amet.</p>
                    </div><!-- .entry-content -->

                    

                    <div class="entry-footer mt-5">
                        <a class="btn gradient-bg" href="#">Check Now</a>
                    </div><!-- .entry-footer -->
                </div><!-- .col -->

                <div class="col-12 col-lg-5 order-1 order-lg-2">
                    <img alt="" src="static/images/oshomah.jpg">
                </div><!-- .col -->
            </div><!-- .row -->
        </div><!-- .container -->
    </div><!-- .highlighted-cause -->

    <div class="our-causes">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="cause-wrap">
                        

                        <div class="cause-content-wrap">
                            <header class="entry-header d-flex flex-wrap align-items-center">
                                <h3 class="entry-title w-100 m-0"><a href="#">New recommendation for cervical cancer screening, using HPV test alone</a></h3>
                            </header><!-- .entry-header -->

                            <div class="entry-content">
                                <p class="m-0">Today, the clinicians who care for those women are getting new interim guidance about the health advantages of instead using the HPV test alone as the primary screen to find cervical cancer or its precursors. Under the new guidance, the Pap smear, which dates back more than 80 years, would still be used for follow-up tests if an HPV test is positive. The Pap smear will still be used for primary screening of women under age 25.</p>
                            </div><!-- .entry-content -->

                            
                        </div><!-- .cause-content-wrap -->
                    </div><!-- .cause-wrap -->
                </div><!-- .col -->

                <div class="col-12 col-md-6 col-lg-4">
                    <div class="cause-wrap">

                        <div class="cause-content-wrap">
                            <header class="entry-header d-flex flex-wrap align-items-center">
                                <h3 class="entry-title w-100 m-0"><a href="#">Choosing screening method for cervical cancer: Pap alone or with HPV test</a></h3>
                            </header><!-- .entry-header -->

                            <div class="entry-content">
                                <p class="m-0">Karen Smith-McCune, M.D., Ph.D., of the University of California, San Francisco, writes: "The updated guidelines leave physicians and other clinicians with a question: is cotesting with Pap-plus-HPV testing truly preferred over Pap testing alone (the American Cancer Society/the American Society of Colposcopy and Cervical Pathology/the American Society of Clinical Pathology recommendation), or are the options equivalent (the U.S. Preventive Services Task Force recommendation)?"</p>
                            </div><!-- .entry-content -->

                        </div><!-- .cause-content-wrap -->
                    </div><!-- .cause-wrap -->
                </div><!-- .col -->

                <div class="col-12 col-md-6 col-lg-4">
                    <div class="cause-wrap">
                        

                        <div class="cause-content-wrap">
                            <header class="entry-header d-flex flex-wrap align-items-center">
                                <h3 class="entry-title w-100 m-0"><a href="#">HPV testing is better than the Pap test at detecting cervical cancer</a></h3>
                            </header><!-- .entry-header -->

                            <div class="entry-content">
                                <p class="m-0">Cervical cancer screening guidelines have changed dramatically over the last 15 years, following introduction of testing for the dozen high-risk human papillomavirus (HPV) types that cause virtually all cervical cancer and its precursors. Despite more research into HPV, and the introduction of preventive HPV vaccines, screening will remain important and comprise many millions of tests annually for decades to come. But improved screening methods have also introduced some confusion, even controversy.</p>
                            </div><!-- .entry-content -->

                        </div><!-- .cause-content-wrap -->
                    </div><!-- .cause-wrap -->
                </div><!-- .col -->
            </div><!-- .row -->
        </div><!-- .container -->
    </div><!-- .our-causes -->

    <footer class="site-footer">
        <div class="footer-widgets">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="foot-about">
                            <h2><a class="foot-logo" href="#"><img width="50" height="50" alt="" src="static/images/cervical-cancer.jpeg"></a><div style="padding: 10">Cervical Cancer</div> </h2>
                            <p>Lorem ipsum dolor sit amet, con sectetur adipiscing elit. Mauris temp us vestib ulum mauris.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tempus vestib ulum mauris.Lorem ipsum dolo.</p>

                            <ul class="d-flex flex-wrap align-items-center">
                                <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                <li><a href="#"><i class="fa fa-behance"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div><!-- .foot-about -->
                    </div><!-- .col -->



                    <div class="col-12 col-md-6 col-lg-3 mt-5 mt-md-0">
                        <div class="foot-contact">
                            <h2>Contact</h2>

                            <ul>
                                <li><i class="fa fa-phone"></i><span>+45 677 8993000 223</span></li>
                                <li><i class="fa fa-envelope"></i><span>cancerdetectionorg@gmail.com</span></li>
                                <li><i class="fa fa-map-marker"></i><span>Main Str. no 45-46, b3, 56832, Los Angeles, CA</span></li>
                            </ul>
                        </div><!-- .foot-contact -->

                        <div class="subscribe-form">
                            <!-- <form class="d-flex flex-wrap align-items-center">
                                <input type="email" placeholder="Your email">
                                <input type="submit" value="send">
                            </form>.flex -->
                        </div><!-- .search-widget -->
                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .container -->
        </div><!-- .footer-widgets -->

        <div class="footer-bar">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <p class="m-0"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright ©<script>document.write(new Date().getFullYear());</script>2019 All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                    </div><!-- .col-12 -->
                </div><!-- .row -->
            </div><!-- .container -->
        </div><!-- .footer-bar -->
    </footer><!-- .site-footer -->


        <div class="footer-bar">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <p class="m-0"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright ©<script>document.write(new Date().getFullYear());</script>2019 All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                    </div><!-- .col-12 -->
                </div><!-- .row -->
            </div><!-- .container -->
        </div><!-- .footer-bar -->
    <!-- .site-footer -->

    <script src="static/js/jquery.js" type="text/javascript"></script>
    <script src="static/js/jquery.collapsible.min.js" type="text/javascript"></script>
    <script src="static/js/swiper.min.js" type="text/javascript"></script>
    <script src="static/js/jquery.countdown.min.js" type="text/javascript"></script>
    <script src="static/js/circle-progress.min.js" type="text/javascript"></script>
    <script src="static/js/jquery.countTo.min.js" type="text/javascript"></script>
    <script src="static/js/jquery.barfiller.js" type="text/javascript"></script>
    <script src="static/js/custom.js" type="text/javascript"></script>


</body></html>